body{
  background-color: #ffffff;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  z-index: -1;
}

.container{
  width: 90%;
  margin: auto;
  overflow: hidden;
}

header ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagetitle{
  font-size: 1.75em;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.pagesubtitle{
  text-align: center;
  font-size: 1.25em;
}

h1{
     font-family: 'Raleway';
     font-weight: bold;
}

h3{
     font-family: 'Raleway'
     font-size: 1.1em;
     font-weight: bold;
}

p{
     font-family: 'Roboto';
     font-size: 1em;
}

/* Header */
header{
  background: #000000;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 70px;
  border-bottom: 4px solid #ff7a2b;
  min-height: 100px;
}

header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.25em;
}

header li{
  float: left;
  display: inline;
  padding: 0px 20px 0px 20px;
  margin-right: : 10px;
  z-index: 1;
}

header #topname{
  float: left;
}

header #topname{
  margin: 0;
}

header #logo{
  font-size: 2.5em;
}
header #logo a:hover{
     text-decoration: none;
}

/*header #nav{
  float: right;
  z-index: 1;
  margin-top: 30px; */

header .highlight, header #nav .current a{
  color: #ff7a2b;
  font-weight: bold;
  font-family: 'Raleway';
}

header a:hover{
  color: #ffffff;
  font-weight: bold;
  z-index: 1;
}

/* Start of Showcase */

#showcase{
  min-height: 400px;
}

.homeintro{
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 20px;
}
/* End of Showcase */

/* Start of About */
.aboutItems{
     color: #ff7a2b;
     font-size: 1.15em;
     font-weight: bold;
}

/* Start of Discography */

/*Table*/
table{
  width: 100%;
}

.year{
  text-align: center;
  width: 20%;
}

.album{
  text-align: center;
  width: 60%;
}

.albumcover{
  text-align: center;
  width: 20%;
}

/* End of Discography */

/* Start of Contact */
.theform{
  margin-left: 40%;
  margin-right: 40%;
}

.formHeader{
font-size: 1.25em;
}

input[type=submit]{
     border-radius: 5px;
     background-color: #000000;
     color: #ff722b;
     border: 0 none;
}

/* End of Contact */

/* Start of Footer */

footer{
  background-color: #000000;
  border-top: 4px solid #ff7a2b;
  color: #ffffff;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  width: 100%;
}

/* End of Footer */

/* Start of Navigation Bar and Drop Down */
#nav {
         background-color: #000;
         z-index: 1;
}

#nav_wrapper {
         width: 100%;
         margin: 0 auto;
         text-align: left;
         z-index: 1;
}

#nav ul {
     list-style-type: none;
     padding: 0;
     margin: 0;
     position: relative;
     min-width: 200px;
     font-size: 10px;
     z-index: 1;
}

#nav ul li {
     display: inline-block;
     z-index: 1;
}

#nav ul li:hover {
     background-color: #000;
     z-index: 1;
}

#nav ul li a, visited {
     color: #fff;
     display: block;
     padding: 5px;
     text-decoration: none;
     z-index: 1;
}

#nav ul li:hover ul {
     display: block;
     z-index: 1;
}

#nav ul ul {
     display: none;
     position: absolute;
     background-color: #000;
     border-top: 0;
     margin-left: -20px;
     z-index:  1;
}

#nav ul ul li {
     display: block;
     z-index: 1;
}

#nav ul ul li a:hover {
     color: #ff7a2b;
     z-index: 1;
}

/* End of Navigation and Drop Down */
